/.idea/
*.iml
*.class
/bin
.project
.classpath
/out
saves/*
*.py
*.exe
*.stackdump
*.stackdump
.settings/org.eclipse.ltk.core.refactoring.prefs
res/images/Thumbs.db
sh.exe.stackdump
src/main/Program.java
src/main/Program.java
*.stackdump
*.stackdump
